<h1> About Us </h1>

<h2> Who do we help? </h2>
  <p> We help women who have recently been involved in domestic violence
  and have been forced out of their homes, along with their children. </p>
  <p> We understand how hard it is for women to get back on their feet, 
  especially when they have to support their children. About {insert stats} of
  women who have gone through this traumatising experience, using have no or very
  limited skills, meaning find jobs is very difficult. </p>

  <h2> What do we do? </h2>
   <p> We help these women find the perfect job, by partnering up with companies through
   a web application. </p>
   <p> These partnered companies can post up any available jobs and if these women are 
   interested in applying, all it takes is a click of a button.</p>