<div class="container vertical-center">
  <div class="col-md-6 col-md-offset-3">
	<div class="jumbotron">
	   <h1>Start Fresh</h1>
	   <p>Social cause to help women who are victims of domestic violence</p>
	   <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>
</div>
