<div class="container vertical-center">
	<div class="jumbotron">
	   <h1>Start Fresh</h1>
	   <p>Social cause to help women who are victims of domestic violence</p>
	   <p><a class="btn btn-primary btn-lg" href="pages/about" role="button">Find Out More</a></p>
    </div>
  </div>
</div>
</div>



