@import 'bootstrap-sprockets';
@import 'bootstrap';

/*======= Home Page ========*/
.homepage {
	background-image: url('homepage.jpg');
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646 ;
}

.jumbotron, .jumbotron h1 {
	background: transparent;
	text-align: center;
	padding-top: 80px;
	color: #fff;
}

/*========= Navigation Bar =============*/
.navbar-default {
	background-color: #ab93f9;
}


