@import 'bootstrap-sprockets';
@import 'bootstrap';


index {
	background-image: url('quietnight');
}
.vertical-center {
	align-items: center;
	
}

.jumbotron {
	text-align: center;
	background-color: #b3cde0;
	background-image: url('quietnight.jpg');
	
	
}